body {
  background-color: #98C6CE;
  color: #EBF1F2;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}

ul, ol {
  list-style-position: inside;
}

h1 {
  color: #3F6D75;
}

p {
  text-decoration: underline;
}