body {
  background-color: #D1F7F9;
  color: #129DA4;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
  text-decoration: underline;
}

p, h2, h3 {
  color: #054447;
}

h1 {
  font-size: 50px;
}

.dark-mode {
  background-color: black;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif; 
}

button, img {
  margin 10px;
}